<!doctype html>
<html>
<head>
	<!--Make it compatible to mobile devices -->
	<meta name= "viewport", content= "width= device-width, initial-scale= 1.0">
	<title>Uploading New File</title>
</head>

<body style= "background: #000;">
	
	<h1>Uploading New File</h1>
	<form method= "post" enctype= "multipart/form-data" action= "/upload">
		<input type= "file" name= "file" placeholder = "Select File">
		<input type= "submit" value= "upload" placeholder = "Upload File">
	</form>
</body>
</html>